.View {
    font-family: "Courier New", monospace;
    background-color: black;
    line-height: 0.6;
    color: white;
    border: none;
    resize: none;
    overflow: hidden;
    flex: 0 0 auto;
}
